Client/Client/Form/Connected Services/TakiService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetCardList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardList" />
  </wsdl:message>
  <wsdl:message name="IService_GetCardList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BuildDeck_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildDeck" />
  </wsdl:message>
  <wsdl:message name="IService_BuildDeck_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildDeckResponse" />
  </wsdl:message>
  <wsdl:message name="IService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IService_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPlayerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerList" />
  </wsdl:message>
  <wsdl:message name="IService_GetPlayerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddAction_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAction" />
  </wsdl:message>
  <wsdl:message name="IService_AddAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddActionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddActions_InputMessage">
    <wsdl:part name="parameters" element="tns:AddActions" />
  </wsdl:message>
  <wsdl:message name="IService_AddActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddActionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DoAction_InputMessage">
    <wsdl:part name="parameters" element="tns:DoAction" />
  </wsdl:message>
  <wsdl:message name="IService_DoAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoActionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PasswordAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordAvailable" />
  </wsdl:message>
  <wsdl:message name="IService_PasswordAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUserGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserGames" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUserGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUsername" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UsernameAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:UsernameAvailable" />
  </wsdl:message>
  <wsdl:message name="IService_UsernameAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsernameAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUserFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserFriends" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUserFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMutualGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMutualGames" />
  </wsdl:message>
  <wsdl:message name="IService_GetMutualGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMutualGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AreFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:AreFriends" />
  </wsdl:message>
  <wsdl:message name="IService_AreFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:AreFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MakeFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeFriends" />
  </wsdl:message>
  <wsdl:message name="IService_MakeFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriend" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IService_StopSearchingForGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StopSearchingForGame" />
  </wsdl:message>
  <wsdl:message name="IService_StopSearchingForGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopSearchingForGameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPlayersFound_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersFound" />
  </wsdl:message>
  <wsdl:message name="IService_GetPlayersFound_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersFoundResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PlayerQuit_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayerQuit" />
  </wsdl:message>
  <wsdl:message name="IService_PlayerQuit_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayerQuitResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveChanges" />
  </wsdl:message>
  <wsdl:message name="IService_SaveChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChangesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetCardList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCardList" message="tns:IService_GetCardList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCardListResponse" message="tns:IService_GetCardList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuildDeck">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BuildDeck" message="tns:IService_BuildDeck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BuildDeckResponse" message="tns:IService_BuildDeck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/StartGame" message="tns:IService_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/StartGameResponse" message="tns:IService_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPlayerList" message="tns:IService_GetPlayerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPlayerListResponse" message="tns:IService_GetPlayerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddAction" message="tns:IService_AddAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddActionResponse" message="tns:IService_AddAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddActions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddActions" message="tns:IService_AddActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddActionsResponse" message="tns:IService_AddActions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DoAction" message="tns:IService_DoAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DoActionResponse" message="tns:IService_DoAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Logout" message="tns:IService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LogoutResponse" message="tns:IService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Register" message="tns:IService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterResponse" message="tns:IService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteUser" message="tns:IService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteUserResponse" message="tns:IService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateUser" message="tns:IService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateUserResponse" message="tns:IService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PasswordAvailable" message="tns:IService_PasswordAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PasswordAvailableResponse" message="tns:IService_PasswordAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllUserGames" message="tns:IService_GetAllUserGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllUserGamesResponse" message="tns:IService_GetAllUserGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserByUsername" message="tns:IService_GetUserByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserByUsernameResponse" message="tns:IService_GetUserByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserById" message="tns:IService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserByIdResponse" message="tns:IService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsernameAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UsernameAvailable" message="tns:IService_UsernameAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UsernameAvailableResponse" message="tns:IService_UsernameAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllUserFriends" message="tns:IService_GetAllUserFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllUserFriendsResponse" message="tns:IService_GetAllUserFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMutualGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMutualGames" message="tns:IService_GetMutualGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMutualGamesResponse" message="tns:IService_GetMutualGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AreFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AreFriends" message="tns:IService_AreFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AreFriendsResponse" message="tns:IService_AreFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MakeFriends" message="tns:IService_MakeFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MakeFriendsResponse" message="tns:IService_MakeFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveFriend" message="tns:IService_RemoveFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveFriendResponse" message="tns:IService_RemoveFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopSearchingForGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/StopSearchingForGame" message="tns:IService_StopSearchingForGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/StopSearchingForGameResponse" message="tns:IService_StopSearchingForGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayersFound">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPlayersFound" message="tns:IService_GetPlayersFound_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPlayersFoundResponse" message="tns:IService_GetPlayersFound_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerQuit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PlayerQuit" message="tns:IService_PlayerQuit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PlayerQuitResponse" message="tns:IService_PlayerQuit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllUsers" message="tns:IService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllUsersResponse" message="tns:IService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveChanges" message="tns:IService_SaveChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveChangesResponse" message="tns:IService_SaveChanges_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCardList">
      <soap:operation soapAction="http://tempuri.org/IService/GetCardList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildDeck">
      <soap:operation soapAction="http://tempuri.org/IService/BuildDeck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap:operation soapAction="http://tempuri.org/IService/StartGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerList">
      <soap:operation soapAction="http://tempuri.org/IService/GetPlayerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAction">
      <soap:operation soapAction="http://tempuri.org/IService/AddAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddActions">
      <soap:operation soapAction="http://tempuri.org/IService/AddActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoAction">
      <soap:operation soapAction="http://tempuri.org/IService/DoAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordAvailable">
      <soap:operation soapAction="http://tempuri.org/IService/PasswordAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserGames">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllUserGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUsername">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameAvailable">
      <soap:operation soapAction="http://tempuri.org/IService/UsernameAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserFriends">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllUserFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMutualGames">
      <soap:operation soapAction="http://tempuri.org/IService/GetMutualGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreFriends">
      <soap:operation soapAction="http://tempuri.org/IService/AreFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeFriends">
      <soap:operation soapAction="http://tempuri.org/IService/MakeFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveFriend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopSearchingForGame">
      <soap:operation soapAction="http://tempuri.org/IService/StopSearchingForGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayersFound">
      <soap:operation soapAction="http://tempuri.org/IService/GetPlayersFound" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerQuit">
      <soap:operation soapAction="http://tempuri.org/IService/PlayerQuit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveChanges">
      <soap:operation soapAction="http://tempuri.org/IService/SaveChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://10.116.2.90:8733/Design_Time_Addresses/Service/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>