Client/Client/Form/Connected Services/TakiService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Service/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Service/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Service/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_BuildDeck_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildDeck" />
  </wsdl:message>
  <wsdl:message name="IService_BuildDeck_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildDeckResponse" />
  </wsdl:message>
  <wsdl:message name="IService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IService_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPlayerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerList" />
  </wsdl:message>
  <wsdl:message name="IService_GetPlayerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Action_InputMessage">
    <wsdl:part name="parameters" element="tns:Action" />
  </wsdl:message>
  <wsdl:message name="IService_Action_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PasswordAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordAvailable" />
  </wsdl:message>
  <wsdl:message name="IService_PasswordAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordAvailableResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="BuildDeck">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BuildDeck" message="tns:IService_BuildDeck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BuildDeckResponse" message="tns:IService_BuildDeck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/StartGame" message="tns:IService_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/StartGameResponse" message="tns:IService_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPlayerList" message="tns:IService_GetPlayerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPlayerListResponse" message="tns:IService_GetPlayerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Action">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Action" message="tns:IService_Action_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActionResponse" message="tns:IService_Action_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Register" message="tns:IService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterResponse" message="tns:IService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PasswordAvailable" message="tns:IService_PasswordAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PasswordAvailableResponse" message="tns:IService_PasswordAvailable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuildDeck">
      <soap:operation soapAction="http://tempuri.org/IService/BuildDeck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap:operation soapAction="http://tempuri.org/IService/StartGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerList">
      <soap:operation soapAction="http://tempuri.org/IService/GetPlayerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Action">
      <soap:operation soapAction="http://tempuri.org/IService/Action" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordAvailable">
      <soap:operation soapAction="http://tempuri.org/IService/PasswordAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Service/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>